@model ToDo.Domain.Entities.ToDoTask

@{
    ViewBag.Title = "Administracja: edycja";
    Layout = "~/Views/Shared/_CrudLayout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
            $(function () {
                $('#ToDoTaskDate').datetimepicker({
                    minDate: @Model.CreatingDate,
                    format: 'L',
                    showClose: true,
                    showClear: true,
                    toolbarPlacement: 'top',
                    todayBtn: 'linked'
                });

                $('#ToDoTaskStartTime').datetimepicker({
                    minDate: @Model.CreatingDate,
                    format: 'LT',
                    showClose: true,
                    showClear: true,
                    toolbarPlacement: 'top',
                    stepping: 15,
                    todayBtn: 'linked'
                });
            });
    </script>
}

@section Body{
<div class="panel">
    <div class="panel-heading">
        <h3><strong>Edytuj</strong></h3>
    </div>

    @using (Html.BeginForm("Edit", "Crud", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="panel-body">
            <div class="form-group">

                @Html.HiddenFor(m => m.TaskID)

                @Html.Label("Data utworzenia")
                <br/>
                @Html.TextBoxFor(m => m.CreatingDate)
                <br/>
                <br/>

                @Html.Label("Zrealizowane ?")
                <br/>
                @Html.CheckBoxFor(m => m.RealizationState, false)
                <br/>
                <br/>

                @Html.Label("Data realizacji")
                <br />    
                <br/>
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class='input-group date' id='ToDoTaskDate'>
                                        @Html.TextBoxFor(m => m.RealizationDate, new {@class= "input-group-addon form-control", id = "ToDoTaskDate" })
                                </div>
                            </div>
                        </div>
                            
                        <script type="text/javascript">
                        $(function () {
                            $('#ToDoTaskDate').datetimepicker({
                                format: "YYYY-MM-DD HH:mm"
                            });
                        });
                        </script>
                    </div>
                </div>
                <br/>
                
                @Html.Label("Opis")
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 5 })
            </div>

            <div class="panel-footer">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                @Html.ActionLink("Anuluj", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>

}